version: "3.8"

services:
  postgres:
    image: postgres:17-alpine
    container_name: dart_cloud_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-dart_cloud}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?POSTGRES_PASSWORD is required}
      POSTGRES_DB: ${POSTGRES_DB:-dart_cloud}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
    #ports:
    #  - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
    networks:
      - dart_cloud_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-dart_cloud}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend-cloud:
    build:
      context: ../..
      dockerfile: dart_cloud_backend/deploy/Dockerfile.backend
      args:
        PORT: ${PORT:-8080}
      ssh:
        - default
      # platform: linux/amd64
    # platform: linux/amd64
    container_name: dart_cloud_backend
    restart: unless-stopped
    command: ["sh", "-c", "sleep 5 && /app/server"]
    security_opt:
      - label=disable
    depends_on:
      postgres:
        condition: service_healthy
    privileged: true
    mem_limit: 2g
    cpus: "3"
    environment:
      PORT: ${PORT:-8080}
      DATABASE_URL: postgres://${POSTGRES_USER:-dart_cloud}:${POSTGRES_PASSWORD:?POSTGRES_PASSWORD is required}@$POSTGRES_HOST:5432/${POSTGRES_DB:-dart_cloud}
      FUNCTION_DATABASE_URL: postgres://${POSTGRES_USER:-dart_cloud}:${POSTGRES_PASSWORD}@$POSTGRES_HOST:5432/${FUNCTION_DB:-functions_db}
      JWT_SECRET: ${JWT_SECRET:?JWT_SECRET is required}
      FUNCTIONS_DIR: ${FUNCTIONS_DIR:-/app/functions}
      FUNCTION_TIMEOUT_SECONDS: ${FUNCTION_TIMEOUT_SECONDS:-5}
      FUNCTION_MAX_MEMORY_MB: ${FUNCTION_MAX_MEMORY_MB:-128}
      FUNCTION_MAX_CONCURRENT: ${FUNCTION_MAX_CONCURRENT:-10}
      FUNCTION_DB_MAX_CONNECTIONS: ${FUNCTION_DB_MAX_CONNECTIONS:-5}
      FUNCTION_DB_TIMEOUT_MS: ${FUNCTION_DB_TIMEOUT_MS:-5000}
      PODMAN_SOCKET_PATH: /run/podman/podman.sock
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    volumes:
      - functions_data:/app/functions
      - type: bind
        source: /Users/dalihamza/Desktop/DevOps/ContainerPub/.dev
        target: /workers/functions/data
        read_only: false
        propagation: rshared
      - /run/podman/podman.sock:/run/podman/podman.sock
    networks:
      - dart_cloud_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT:-8080}/health"]
      interval: 120s
      timeout: 10s
      retries: 3
      start_period: 60s

volumes:
  postgres_data:
    driver: local
  functions_data:
    driver: local
    external: true

networks:
  dart_cloud_network:
    driver: bridge
