# Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# Environment and Secrets
.env
*.tfvars
!*.tfvars.example
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Functions storage
functions/

# Logs
*.log
.trae

# OS
.DS_Store
Thumbs.db

# Config
dart_cloud_cli/.dart_cloud/
.dev
.windsurf