name: dart_cloud_function_analyzer_plugin_example
description: A starting point for Dart libraries or applications.
version: 1.0.0
# repository: https://github.com/my_org/my_repo
publish_to: none

environment:
  sdk: ^3.10.0

# Add regular dependencies here.
dependencies:
  dart_cloud_function:
     path: ../../dart_cloud_function

dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.6
